@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Pangolin", cursive;
  }
}

#nav {
  display: flex;
  justify-content: space-between;
  min-height: 80px;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

#card_image {
  border-radius: inherit;
  transition: transform 250ms;
}
#card:hover #card_image {
  transform: translateY(-122px) scale(0.75);
}

#player #card_musik {
  position: relative;
}
#player #card_musik img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
#player audio {
  width: 100%;
  outline: none;
}

#gallery {
  background-color: var(--background);
}
#foto {
  background-color: var(--background);
  transition: 1000ms all;
  box-shaadow: 0 5px 12 px rgba(0, 0, 0, 0.5);
  outline: 1px solid var(--background);
}
#foto:hover {
  transform: scale(1.1);
}
#foto:hover figcaption {
  font-size: 0.6rem;
  position: absolute;
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 100%,
    rgba(0, 0, 0, 0) 100%
  );
  /* background: tranparent; */
  color: white;
  left: 0px;
  bottom: 0px;
  padding-left: 12px;
  padding-bottom: 10px;
}

#card:hover ~ #card {
  font-weight: bold;
  cursor: pointer;
  transform: translateY(22px);
}
#form_login {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10rem;
  background: linear-gradient(to left, #fc6767, #ec008c);
  border-radius: 1rem 1 rem 100% 100%;
  z-index: -1;
}
& .dialog {
  position: absolute;
  background-color: white;
  background-image: linear-gradient(#005ac211, #005ac211);
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px;
  border-radius: 24px;
  box-shadow: 0 0 16px #0004;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 512px;
}
#login {
  background-image: url("./background.jpeg");
}
